<div class="col s12 m3 tar">
  <button mat-icon-button> 
    <mat-icon  (click)="callNew()">add_circle_outline</mat-icon>
  </button>
</div>

<div class="row">
  <div class="col s12 m12 l12">  
    <mat-table #table [dataSource]="dataSource" matSort class="table-striped">

      <ng-container matColumnDef="actionsColumn">
          <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button mat-icon-button>
                  <mat-icon class="link_action"  matTooltip="Excluir" (click)="deleteConfirmation(element.idVacina)">delete</mat-icon>
              </button>  
              <button mat-icon-button>
                  <mat-icon class="link_action"  matTooltip="Editar" (click)="callUpdate(element.idVacina)">edit</mat-icon>
              </button>


          </mat-cell>
        </ng-container>   

      <ng-container matColumnDef="idvacina">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idVacina}} </mat-cell>>
      </ng-container>
  
      <ng-container matColumnDef="animal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Animal </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.animal}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="dtVacina">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data Vacina </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dtVacina}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="peso">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Peso </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.peso}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dosagem">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Dosagem </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dosagem}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="aplicador">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Aplicador </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.aplicador}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="descMedicamento">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição Medicamento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descMedicamento}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>  
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
  </div>
</div>